<a href="https://colab.research.google.com/github/marcellapbp/Aprendendo-Python/blob/master/Alura_Imersao_Dados_2020.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Alura Imersão Dados 2020
Notebook dedicado às análise realizadas durante o evento da Alura. <br>
A ideia é aprender conceitos e técnicas de Ciências de dados atráves de aulas durante 19-27 de Outubro com base nos dados do INEP sobre o Enem 2019.

In [1]:
import pandas as pd

In [2]:
fonte = "https://github.com/alura-cursos/imersao-dados-2-2020/blob/master/MICRODADOS_ENEM_2019_SAMPLE_43278.csv?raw=true"

df = pd.read_csv(fonte)

df.head()

   NU_INSCRICAO  NU_ANO  CO_MUNICIPIO_RESIDENCIA  ... Q023  Q024 Q025
0  190001004661    2019                  1506138  ...    A     B    B
1  190001004674    2019                  1504208  ...    A     A    B
2  190001004722    2019                  1501402  ...    A     A    B
3  190001004735    2019                  1507300  ...    A     A    B
4  190001004776    2019                  1500800  ...    A     A    B

[5 rows x 136 columns]