<a href="https://colab.research.google.com/github/marcellapbp/Aprendendo-Python/blob/master/Curso_Analytics_Vidhya_Introduction_to_Python.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

#Curso 1 Analytics Vidhya | Introduction to Python

*Analytics Vidhya provides a community based knowledge portal for Analytics and Data Science professionals. The aim of the platform is to become a complete portal serving all knowledge and career needs of Data Science Professionals.* 
<br>
From https://www.analyticsvidhya.com/about-me/

In order to make progress on Path to Become Data Scientist in 2020 Course, it is required to complete Introduction to Python Course first. The first topics on this course, I've already learned on Data Science Academy course "Python Fundamentos para An√°lise de Dados", so I'm practicing the topics are new for me.

##Data Manipulation and Visualization

In [1]:
#import libraries
import pandas as pd
import numpy as np

#read csv file
df = pd.read_csv("/content/bigmart_data.csv")

#show top 5 rows
df.head()

  Item_Identifier  Item_Weight  ...        Outlet_Type  Item_Outlet_Sales
0           FDA15         9.30  ...  Supermarket Type1          3735.1380
1           DRC01         5.92  ...  Supermarket Type2           443.4228
2           FDN15        17.50  ...  Supermarket Type1          2097.2700
3           FDX07        19.20  ...      Grocery Store           732.3800
4           NCD19         8.93  ...  Supermarket Type1           994.7052

[5 rows x 12 columns]

In [6]:
#second way to show 5 top rows
df.iloc[:5]

  Item_Identifier  Item_Weight  ...        Outlet_Type  Item_Outlet_Sales
0           FDA15         9.30  ...  Supermarket Type1          3735.1380
1           DRC01         5.92  ...  Supermarket Type2           443.4228
2           FDN15        17.50  ...  Supermarket Type1          2097.2700
3           FDX07        19.20  ...      Grocery Store           732.3800
4           NCD19         8.93  ...  Supermarket Type1           994.7052

[5 rows x 12 columns]

In [7]:
#third way to show 5 top rows
df[:5]

  Item_Identifier  Item_Weight  ...        Outlet_Type  Item_Outlet_Sales
0           FDA15         9.30  ...  Supermarket Type1          3735.1380
1           DRC01         5.92  ...  Supermarket Type2           443.4228
2           FDN15        17.50  ...  Supermarket Type1          2097.2700
3           FDX07        19.20  ...      Grocery Store           732.3800
4           NCD19         8.93  ...  Supermarket Type1           994.7052

[5 rows x 12 columns]

In [8]:
#count how many null values exist on each colums
df.isnull().sum()

Item_Identifier                 0
Item_Weight                  1463
Item_Fat_Content                0
Item_Visibility                 0
Item_Type                       0
Item_MRP                        0
Outlet_Identifier               0
Outlet_Establishment_Year       0
Outlet_Size                  2410
Outlet_Location_Type            0
Outlet_Type                     0
Item_Outlet_Sales               0
dtype: int64

In [9]:
#count rows before eliminate NaN values
df.shape

(8523, 12)

In [11]:
#drop the rows if there is any NaN value
df = df.dropna(how='any')

In [12]:
#check the result
df.shape

(4650, 12)

###Sorting Data Frames

1. Sorting by Values

In [13]:
#sort dataset chosing a column, ascending is the default option
sorted_data = df.sort_values(by='Item_Type')
sorted_data[:5]

     Item_Identifier  Item_Weight  ...        Outlet_Type  Item_Outlet_Sales
6085           FDO60       20.000  ...  Supermarket Type1           401.4774
6043           FDT12        6.215  ...  Supermarket Type2           677.1186
6030           FDS12        9.100  ...  Supermarket Type1          2390.8878
6029           FDM24        6.135  ...  Supermarket Type1          3325.0052
6003           FDY11        6.710  ...  Supermarket Type1          1516.0266

[5 rows x 12 columns]

In [14]:
#to change the original dataset, we need to use inplace option
#before using inplace, the original dataframe is not sorted
df[:5]

  Item_Identifier  Item_Weight  ...        Outlet_Type  Item_Outlet_Sales
0           FDA15        9.300  ...  Supermarket Type1          3735.1380
1           DRC01        5.920  ...  Supermarket Type2           443.4228
2           FDN15       17.500  ...  Supermarket Type1          2097.2700
4           NCD19        8.930  ...  Supermarket Type1           994.7052
5           FDP36       10.395  ...  Supermarket Type2           556.6088

[5 rows x 12 columns]

In [16]:
#now the original dataset is sorted, but this time using descending order
df.sort_values(by='Item_Type', ascending=False, inplace=True)
df[:5]

/usr/local/lib/python3.6/dist-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.

     Item_Identifier  Item_Weight  ...        Outlet_Type  Item_Outlet_Sales
2387           FDF35       15.000  ...  Supermarket Type1          1179.1318
146            FDB11       16.000  ...  Supermarket Type1          6301.1312
5769           FDC35        7.435  ...  Supermarket Type2          1656.5104
5754           FDH47       13.500  ...  Supermarket Type1          1944.1360
1376           FDH35       18.250  ...  Supermarket Type1          1151.1682

[5 rows x 12 columns]

In [23]:
#it is possiblem to sort using more than one column using a list
df.sort_values(by=['Item_Type','Item_MRP'], ascending=False, inplace=True)
df[:5]

/usr/local/lib/python3.6/dist-packages/ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

     Item_Identifier  Item_Weight  ...        Outlet_Type  Item_Outlet_Sales
1861           FDG47        12.80  ...  Supermarket Type1          2885.5772
6723           FDG47        12.80  ...  Supermarket Type1          4984.1788
4454           FDG47        12.80  ...  Supermarket Type2          3410.2276
1254           FDG47        12.80  ...  Supermarket Type1          8132.0812
5668           FDD11        12.85  ...  Supermarket Type1          2530.0400

[5 rows x 12 columns]

2. Sorting by Index

In [26]:
#to go back to original order, we can use this function
df.sort_index(inplace=True)
df[:5]

  Item_Identifier  Item_Weight  ...        Outlet_Type  Item_Outlet_Sales
0           FDA15        9.300  ...  Supermarket Type1          3735.1380
1           DRC01        5.920  ...  Supermarket Type2           443.4228
2           FDN15       17.500  ...  Supermarket Type1          2097.2700
4           NCD19        8.930  ...  Supermarket Type1           994.7052
5           FDP36       10.395  ...  Supermarket Type2           556.6088

[5 rows x 12 columns]